.b1 {
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: rgb(245, 36, 36);
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
  }
  
  .b1:active {
    transform: translate(0.1em, 0.1em);
  }