body {
  background-color: #f1f1f1;
}

.nav-link.logo {
  font-family: "Bungee Spice", sans-serif;
  font-weight: bold;
  color: rgb(191, 52, 52);
  font-size: 30px;
}

.nav-link.hov {
  color: black;
}

.nav-link.hov:hover {
  color: red;
}

@media (max-width: 649px) {
  .nav-link.logo {
    font-size: 20px;
  }
  .nav-link.hov,
  .nav-link.disabled {
    font-size: 13px;
  }
}

@media (max-width: 543px) {
  .nav-link.logo {
    font-size: 15px;
  }
  .nav-link.hov,
  .nav-link.disabled {
    font-size: 10px;
  }
}

@media (max-width: 437px) {
  .nav-link.logo {
    font-size: 17px;
  }
  .nav-link.hov {
    font-size: 10px;
  }
  .nav-link.disabled {
    font-size: 0px;
  }
}
